.bodyDiv {
    height: 100vh;
    background-image: url("/assets/img/bg.png");
  background-repeat: no-repeat, repeat;

}


div.bodyContainer{
    margin-top: 50px !important;
}
.tabs a{
    color: #00AA8D;
    font-weight: bold;
    font-size: 18px;
}

.tabs .active {
    background: inherit !important;
}