<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="">
          <img src="/assets/img/logo.png" class="brand-logo">
        </h5>
        <p class="">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="">Links</h5>
        <ul>
          <li><a class="grey-text " href="#!">About</a></li>
          <li><a class="grey-text " href="#!">Careers</a></li>
          <li><a class="grey-text " href="#!">Advertising</a></li>
          <li><a class="grey-text " href="#!">Privacy/Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>