.cardWrapper .card{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    
  }

  .card-action{
    padding-top: 0px;
  }
  
fieldset {
    border: 1px solid rgba(0, 0, 0, 0.2); 
}

.following {
  color: #00AA8D !important;
}
