.cardWrapper .card{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    
  }

  .fa-circle {
    color: rgb(21, 206, 21) !important;
    font-size: 15px !important;
  }

  .card-action{
    padding-top: 0px;
  }
  
fieldset {
    border: 1px solid rgba(0, 0, 0, 0.2); 
}

.following {
  color: #00AA8D !important;
}
.card{
  height: 250px;
}