.error {
    color: red;
    padding: 0px !important;
    margin: 0px !important;
}

.text {
    margin-left: 10px !important;
    margin-top: -10px;
    color: #00AA8D;
    font-weight: bold;
    text-align: center;
}

fieldset {
    border: 1px solid rgba(0, 0, 0, 0.2); 
}
