<app-navbar></app-navbar>

<div class="wrapper" style="margin-top: 30px">
  <div class="row">
    <div class="col s12  l1"></div>

    <div class="col s12  l2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col s12  l5">
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card postDiv">
            <div class="card-content">
              <form [formGroup]="commentForm" novalidate (ngSubmit)="addComment()">
                <div class="formDiv">

                  <textarea formControlName="comment" class="materialize-textarea"></textarea>

                  <div class="file-field input-field">

                    <div class="row">


                      <div class="col s12" style="margin-left:20px;margin-right:20px;">

                        <button class="btn postBtn" [disabled]="!commentForm.valid">
                          Add Comment</button>

                      </div>

                    </div>


                  </div>

                </div>
              </form>
            </div>
          </div>



          <div class="col s12 l12">

            <div class="row valign-wrapper" *ngFor="let comment of comments">
              <div class="col s2">
                <img
                  src="https://res.cloudinary.com/rogong/image/upload/v{{comment.userId.picVersion}}/{{comment.userId.picId}}"
                  alt="" class="circle responsive-img" style="width: 30px">
                <!-- notice the "circle" class -->
              </div>
              <div class="col s10 grey lighten-5 z-depth-1 noshadow commemtradius">
                <div class="" style="margin:10px">
                  <!-- Dropdown Trigger -->
                  <a class='dropdown-trigger secondary-content' data-target='dropdown1'>
                    {{ timeFromNow(comment.createdAt)}} ....</a>

                  <!-- Dropdown Structure -->
                  <ul id='dropdown1' class='dropdown-content'>


                    <li><a href="#!"><i class="material-icons">view_module</i>Edit</a></li>
                    <li><a href="#!"><i class="material-icons">cloud</i>Delete</a></li>
                  </ul>

                  <span class="black-text">
                    {{comment.username}}

                  </span>
                  <p class="time">{{comment.comment}}</p>


                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="col s12  l3">
      <h6 style="text-align: center;">Add to your feed</h6>
      <app-right-bar></app-right-bar>
    </div>

    <div class="col s12  l1"></div>
  </div>

</div>

<app-footer></app-footer>