<ul class="collection" *ngFor="let post of topPosts">

  <li class="collection-item avatar">
    <img src="/assets/img/head.png" class="circle" alt="">
    <span class="title"><b>{{post.username}} </b>
      <i> Full-Stack Developer</i> Coutry
    </span>
    <p class="time">{{timeFromNow(post.created)}}

    </p>
    <a href="#!" class="secondary-content"> <i class="material-icons">add</i> <span class="badge">Follow</span> </a>
  </li>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="/assets/img/bg.png" alt="">
        </div>
        <div class="card-content">
          <p>{{post.post}}</p>
        </div>

        <div class="card-action">
          <i (click)="likePost(post)" [ngClass]="(!checkInLikesArray(post.likes, user.username)) ? 'notLiked' : 'liked'"
            class="material-icons">
            thumb_up
          </i>
          <span class="iconSpan">{{post.totalLikes}}</span>
          <i (click)="openCommentPost(post)" class="material-icons"
            [ngClass]="(!checkInLikesArray(post.comments, user.username)) ? 'notLiked' : 'liked'">
            chat
          </i>
          <span class="iconSpan">{{post.comments.length}}</span>
        </div>


      </div>
      <div *ngIf="commentMode" class="comment">
        <app-comments (cancelRegister)="cancelRegisterMode($event)"></app-comments>
      </div>
    </div>
  </div>
</ul>