<app-navbar></app-navbar>
<div class="wrapper" style="margin-top: 30px">
  <div class="row">

    <div class="col s12  l1"></div>

    <div class="col s12  l2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col s12  l5">
      <app-post-form></app-post-form>
      <app-posts></app-posts>
    </div>
    <div class="col s12  l3">
      <h6 style="text-align:center">Add to your feed</h6>
      <app-right-bar></app-right-bar>
    </div>

    <div class="col s12  l1"></div>
  </div>

</div>