a {
    color: black;
}

.active a {
    color: #ffffff !important;
}

.active {
    background: #00AA8D;
}

.material-icons {
    color: #00AA8D;
}

.active .material-icons {
    color: #fff;
}
.row  span {
    font-size: 12px;
    font-weight: bold;
}

.num {
    margin: 0 !important;
    color: #00AA8D;
    font-size: 16px;
    font-weight: bold;
}