<div class="progress" *ngIf="showSpinner">
    <div class="indeterminate"></div>
</div>

<ul class="collection" *ngFor="let post of posts">

    <li class="collection-item avatar">
        <a class="pointer" (click)="viewUser(post.user)">
            <img src="https://res.cloudinary.com/rogong/image/upload/v{{ post.user.picVersion}}/{{ post.user.picId}}"
                class="circle" alt="">
        </a>
        <span class="title"><b>{{post.username}} </b>
            <i> Full-Stack Developer</i> , ({{post.user.state}}){{post.user.country}}
        </span>
        <p class="time">{{timeFromNow(post.created)}}

        </p>
        <span class="secondary-content">
    <li *ngIf="checkUserInArray(userArr, post.user)">
        <a (click)="unFollowUser(post.user)">
            <i class="material-icons">block</i> Unfollow</a></li>

    </span>
    </li>

    <div class="row">
        <div class="col s12">
            <div class="card">

                <div class="card-image" *ngIf="post.imgId">
                    <img src="https://res.cloudinary.com/rogong/image/upload/v{{post.imgVersion}}/{{post.imgId}}"
                        alt="">
                </div>

                <div class="card-content">
                    <p>{{post.post}}</p>
                </div>

                <div class="card-action">
                    <i (click)="likePost(post)"
                        [ngClass]="(!checkInLikesArray(post.likes, user.username)) ? 'notLiked' : 'liked'"
                        class="material-icons">
                        thumb_up
                    </i>
                    <span class="iconSpan">{{post.totalLikes}}</span>
                    <i (click)="openCommentPost(post)" class="material-icons"
                        [ngClass]="(!checkInLikesArray(post.comments, user.username)) ? 'notLiked' : 'liked'">
                        chat
                    </i>
                    <span class="iconSpan">{{post.comments.length}}</span>

                    <span *ngIf="postOwner(post.username, user.username)" class="secondary-content">
                        <i class="material-icons">edit</i>
                        <i class="material-icons" (click)="deletePost(post._id)">delete</i>
                    </span>
                </div>


            </div>
            <div *ngIf="commentMode" class="comment">
                <app-comments (cancelRegister)="cancelRegisterMode($event)"></app-comments>
            </div>
        </div>
    </div>
</ul>